body {
  color: #222;
  font-family: 'Lato', sans-serif;
  font-weight: 100;
}

/* ========== MAIN ========== */
.main {
  padding-top: 100px;
/*  position: absolute;
  top: 25%;*/
}

/* =========== HOME ========== */

#countdown {
  font-size: 10em;
}

.btn {
  margin: 1em;
}

#refocus {
  font-size: 3em;
}

#start {
  font-size: 2em;
}