body {
  color: #222;
  font-family: 'Lato', sans-serif;
  font-weight: 100;
  font-size: 2em;
}

.btn {
  margin: 1em;
}

.center {
  text-align: center;
}

/* ========== MAIN ========== */
.main {
  padding-top: 50px;
}

/* ========= HEADER ========== */
 .header {
   top: 0;
   width: 100%;
   height: 100px;
   background-color: white;
 }
 
 .tabs {
   float: right;
   right: 5%;
 }
 
 .tab {
   margin: 1em;
   color: #333;
   padding: 1em 3em;
 }
 
 .tab:hover {
   color: #52b947;
   cursor: pointer;
 }
 

/* =========== HOME ========== */
#countdown {
  font-size: 5em;
}


#refocus {
  font-size: 2em;
}

#start {
  font-size: 1em;
}

audio {
  margin: 1em;
}

/* =========== SESSION END ========== */

